{#
 * The template for displaying the footer
 *
 * Contains the closing of the <main>
 *
 */
#}

	</main>

	<footer>
		<div class="inner">
			<div class="legal">
				<span>&copy; {{ "now"|date("Y") }} {{ site.name }}</span> -
				<a href="{{impressum[1].link}}">{{impressum[1].title}}</a>,
				<a href="{{impressum[0].link}}">{{impressum[0].title}}</a>
			</div>
			<a href="https://neocode.ch" target="_blank" rel="author">neocode</a>
		</div>
	</footer>

	{{ function('wp_footer') }}

</body>
</html>
