{#
 * The header
 *
 * This is the template that displays all of the <head> section and everything up until <main>
 *
#}

<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">

  <!-- START HEAD -->
  {{ function('wp_head') }}
  <!-- END HEAD -->
</head>
<body {{ body_class }}>

  <!-- HEADER -->
  <header>

    <!-- NAVIGATION -->
    <nav id="navigation">

      <div class="inner">

        <!-- LOGO -->
        <a href="{{ site.url|e('esc_url') }}">
  				<img id="logo"
            src="{{theme.link}}/dist/images/logo.png"
            alt="Logo {{ site.name }}">
        </a>

        <!-- MOBILE HAMBURGER -->
        <i id="hamburger" class="fa fa-bars" aria-hidden="true"></i>

        <!-- MENU -->
      	<ul class="main-nav">
    	    {% for item in menu.get_items %}

            {# note: this is kind of a hack!
               please make your changes in all of the following condition blocks
            #}

            {% if 'twitter' in item.get_link %}
              <li class="nav-main-item social-icon {{item.classes | join(' ')}}">
                <a class="social-icon" href="{{item.get_link}}">
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
              </li>
            {% elseif 'facebook' in item.get_link %}
              <li class="nav-main-item social-icon {{item.classes | join(' ')}}">
                <a class="social-icon" href="{{item.get_link}}">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
            {% else %}
              <li class="nav-main-item {{item.classes | join(' ')}}">
                <a class="nav-main-link" href="{{item.get_link}}">
                  {{item.title}}
                </a>
              </li>
            {% endif %}

    	    {% endfor %}
      	</ul>

      </div>

    </nav>

  </header>

  <main>
