{# Load each section by template #}
{% extends "section.twig" %}

{% block content %}

	{% if artists %}

		{% for post in artists %}

			<div class="artist">

				<img src="{{post.thumbnail.src}}" class="image" alt="{{post.title}}" />

				<a href="{{ function( 'carbon_get_post_meta', post.ID, 'artist_url' ) }}"
			     	class="overlay"
			     	data-lity data-title="{{post.title}}"
			     	data-desc="{{ function( 'carbon_get_post_meta', post.ID, 'artist_description' ) }}">
			    	<p>{{post.title}}</p>
			  	</a>

			</div>

		{% endfor %}

	{% else %}

		<p>{{ __( 'Die Künstler werden bald veröffentlicht.', 'neocode' ) }}</p>

	{% endif %}

{% endblock %}
