{% extends "section.twig" %}

{% block content %}

  {% if posts %}

    {% for post in news %}

      <article class="news" id="post-{{ post.id }}">

        <!-- Post Thumbnail -->
        <div class="post-thumbnail">
          <a href="{{ post.link }}">
            <img src="{{ post.thumbnail.src('neocode-featured-image')|resize(1000, 600, 'center') }}" alt="{{ post.title }}">
          </a>
        </div>

        <header>
            <a href="{{ post.link }}">
              <small class="meta">{{ post.post_date|date("d. M Y") }}</small>
              <h2>{{ post.title }}</h2>
            </a>
        </header>

        <!-- Post content -->
        <div class="content">
          	{{ post.get_preview(15, false, 'Weiterlesen') }}
      	</div>

      </article>

    {% endfor %}

  {% else %}

    <p>{{ __( 'Zurzeit sind keine Neuigkeiten verfügbar', 'neocode' ) }}</p>

  {% endif %}

{% endblock %}

{% block appendix %}
  <a class="button" href="{{ function( 'get_post_type_archive_link', 'news' ) }}">{{ __( 'Alle News Meldungen', 'neocode' ) }}</a>
{% endblock %}
