{% extends "section.twig" %}

{% block content %}

  {% if posts %}

    {% for post in news %}


      <article class="news">

        <!-- Meta Information -->
        <header>
          <h2>{{ post.title }}</h2>
        </header>

        {% if post.thumbnail %}

          <!-- Post Thumbnail -->
          <div class="post-thumbnail">
            <img src="{{ post.thumbnail.src('neocode-featured-image')|resize(350, 200, 'center') }}" alt="{{ post.title }}">
          </div>

        {% endif %}

        <!-- Post content -->
        <div class="content">
          {{ post.get_preview(20) }}
        </div>

      </article>


      {% endfor %}


  {% else %}

    <p>{{ __( 'Zurzeit sind keine Neuigkeiten verfügbar', 'neocode' ) }}</p>

  {% endif %}

{% endblock %}

{% block appendix %}
  <a class="button" href="{{ function( 'get_post_type_archive_link', 'news' ) }}">{{ __( 'Alle News Meldungen', 'neocode' ) }}</a>
{% endblock %}
