{% extends "section.twig" %}

{% block content %}

  {% if impressions %}


    {% for impression in impressions %}

      <article class="impression" id="post-{{ impression.id }}">

        <img src="{{ impression.thumbnail.src('neocode-featured-image')|resize(350, 350, 'center') }}" alt="{{ impression.title }}">

				<a href="{{ impression.link }}" class="permanent-overlay">
          <h2>{{impression.title}}</h2>
			  </a>

      </article>

    {% endfor %}

  {% else %}

    <p>{{ __( 'Zurzeit sind keine Impressionen verfügbar', 'neocode' ) }}</p>

  {% endif %}

{% endblock %}

{% block appendix %}
  <a class="button" href="{{ function( 'get_post_type_archive_link', 'impressions' ) }}">{{ __( 'Vergangene Jahre', 'neocode' ) }}</a>
{% endblock %}
