<section id="artists">
	<div class="inner">
		<h1><span>{{ post.title }}</span></h1>

		<div class="row-layout">

		{% for post in artists %}

			<div class="artist">

				<img src="{{post.thumbnail.src}}" class="image" alt="{{post.title}}" />

				<a href="{{ function( 'carbon_get_post_meta', post.ID, 'artist_url' ) }}"
			     	class="overlay"
			     	data-lity data-title="{{post.title}}"
			     	data-desc="{{ function( 'carbon_get_post_meta', post.ID, 'artist_description' ) }}">
			    	<p>{{post.title}}</p>
			  	</a>

			</div>

		{% endfor %}

		{# TODO <p><?php _e( 'Die Künstler werden bald veröffentlicht.', 'neocode' ); ?></p> #}

		</div>
  	</div>
</section>
