{% extends "section.twig" %}

{% block content %}

  {% if posts %}

    {% for post in impressions %}

      <article class="impression" id="post-{{ post.id }}">

        <header>
          <h2>{{ post.title }}</h2>
        </header>

        <!-- Post Thumbnail -->
        <div class="post-thumbnail">
          <a href="{{ post.link }}">
            <img src="{{ post.thumbnail.src('neocode-featured-image')|resize(350, 350, 'center') }}" alt="{{ post.title }}">
          </a>
        </div>

      </article>

    {% endfor %}

  {% else %}

    <p>{{ __( 'Zurzeit sind keine Impressionen verfügbar', 'neocode' ) }}</p>

  {% endif %}

{% endblock %}
