<article class="single-news" id="post-{{ post.id }}">


  <!-- Meta Information -->
  <header>
    <a href="{{ post.link }}">
      <h2>{{ post.title }}</h2>
    </a>
  </header>

  {% if post.thumbnail %}

    <!-- Post Thumbnail -->
    <div class="post-thumbnail">
      <a href="{{ post.link }}">
        <img src="{{ post.thumbnail.src('neocode-featured-image')|resize(1000, 600, 'center') }}" alt="{{ post.title }}">
      </a>
    </div>

  {% endif %}

  <!-- Post content -->
  <div class="content">
    {{ post.content }}
  </div>

</article>
